#loading-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

button {
  width: 12rem;
  border-radius: 0.5rem;
  height: 3rem;
  border: 0;
  outline: 1;
  font-size: 1.2rem;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  background-color: #a93434;
  color: #eaeaea;
  cursor: pointer;
}
