.searchbar {
  display: flex;
  margin: 2rem auto;
  background-color: white;
  width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;

  // button{
  //   // visibility:hidden;
  // }
}

img {
  position: relative;

  width: 2.5rem;
}

input {
  width: 52rem;
  margin-left: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
}
