.container-search{
  display: grid;
	grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  margin: 0 auto;
  width: 60rem;
}


.searchbar{
  
  display: flex;
  margin:2rem auto;
  background-color: white;
  width: 60rem;
  padding: 1.5rem;
  border-radius: 1rem;

  // button{
  //   // visibility:hidden;
  // }
}

img{
  position: relative;
  // left:2.5rem;
  width: 2.5rem;
 
}

input{
  width: 52rem;
  
  outline: none;
  border: none;
  font-size: 1.5rem;
}

